@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin-ext');

html {
  position: relative;
  overflow-x: hidden !important;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #f2f7fd;
}

a, a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
  //background-color: #FA8BFF;
  //background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  //background-image: linear-gradient(45deg, #d4145a, #fbb03b);
     background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #fa9b48 100%);
}

.scroll-list {
  width: 100%;
  max-width: 700px;
  padding: 25px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 768px) {
    margin-top: 20px
  }
  
  &__wrp {
    width: 100%;
    height: 700px;
    overflow: auto;
    padding: 50px;
 box-shadow: 0px 7px 46px 0px rgba(41, 53, 108, 0.45);
    background: #4b1079;
    background: #4b1079;
    margin-bottom: 15px;
    border-radius: 8px;
    background-image: linear-gradient(147deg, #6e0777 0%, #380c70 74%);
    .scrollbar-track {
      display: none!important;
    }

    @media screen and (max-width: 768px) {
      padding: 25px;
    }

  }

  &__item {
    width: 100%;
    height: 155px;
    display: block;
    margin-bottom: 15px;
    border-radius: 8px;
    background-image: linear-gradient(147deg, #ff7c34 0%, #c31269 74%);
    transition: all .35s ease-in-out;
    opacity: 0;
    transform: scale(0.7);
    box-shadow: 0px 7px 16px 0px rgba(41,53,108,0.25);

    &.item-hide {
      opacity: 0;
      transform: scale(.7);
    }

    &.item-focus {
      opacity: 1;
      transform: scale(1);
    }

    &.item-next {
      opacity: 1;
      transform: scale(1);

      & + .scroll-list__item {
        opacity: 1;
        transform: scale(1);
      }

    }

    &:last-child {
      margin-bottom: 155px;
    }

    //@media screen and (max-width: 768px) {
    //  width: 450px;
    //  margin-bottom: 0;
    //  margin-right: 15px;
    //  flex-shrink: 0;
    //  opacity: 1 !important;
    //  transform: none!important;
    //
    //  &:last-child {
    //    margin-bottom: 0;
    //    margin-right: 50px;
    //  }
    //
    //}

  }

}

